#__sidebar
  .counter
    padding-left 0
    width 100%
    overflow hidden
    display flex
    justify-content space-around
    border : 1px solid var(--h-color-blurrier)
    border-right : 0
    border-left : 0
    .cnt-item
      font-size .8rem
      .title
        color var(--h-color-blurrier)
        font-weight 500
      .cnt
        text-align center
        color var(--h-color-blur)
        font-size 1rem
        font-weight 600
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
        max-width 90px
